$main-color-background: rgb(33, 45, 54);
$color-2: rgb(72, 56, 56);
$color-4: rgb(220, 183, 117);
$color-5: rgb(220, 202, 151);

//Text color
$text-color: rgb(203, 130, 89);
$text-action-color: rgba(248, 195, 172, 0.8);
